@import "../../../styles/style";

body[dir="rtl"] {
  .social_container {
    left: 14.5%;
    right: auto;
  }

  .isFooter {
    .go_up {
      right: auto;
      left: 55px;
    }
  }
}

.container {
  background: $_blue;
  box-shadow: 0px 3px 6px #222a4842;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-block: 30px;
  height: 180px !important;
  position: relative;
  transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

.expand {
  height: 310px !important;
  transition: height 200ms ease-out;
}

.not_expand {
  height: 180px !important;
  transition: height 200ms ease-out;
}

.opened {
  flex-direction: column;
  align-items: flex-start;
  padding-inline-start: 33px;
  justify-content: flex-end;
  height: 180px !important;
}

.social_container {
  position: absolute;
  right: 14.5%;
  bottom: 20%;
}

.isFooter {
  width: 100%;
  position: relative;

  .go_up {
    position: absolute;
    right: 55px;
    top: 55px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;

    @include media-down-md {
      display: none;
    }

    .go_up_button {
      background-color: $_white;
      width: 50px;
      height: 50px;
      border: none;
      border-radius: 50%;
    }
  }
}

.isSidebar {
  width: 100% !important;
}
