@import "../../../styles/style.scss";

body[dir="rtl"] {
  .testi_card {
    .img_container {
      .img {
        .img_border {
          right: 8px;
          left: auto;
        }

        .icon {
          top: 0px;
          right: 10px;
          left: auto;
        }
      }

      .profession {
        left: 42%;
        right: auto;
      }
    }
  }
  .icon_btn{
    transform: rotate(180deg);
  }
}

.container {
  max-width: 1920px;
  padding-block: 4rem;
  padding-inline: 10%;
  margin: 0 auto;
  // background-image: url("../../../public/img/home-pattern.svg");
  background-repeat: repeat;
  background-size: cover;
  background-position: top left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include media-down-md {
    padding-inline: 2%;
    padding-block: 0 4rem;
  }

  .content {
    background: $_blue;
    border-radius: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
    box-shadow: 0px 5px 18px #00000029;
    max-width: 100%;

    @include media-down-sm {
      padding: 2.5rem 0 1.5rem;
    }

    .filter {
      width: 35%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      @include media-down-md {
        justify-content:center;
        width: 100%;
      }

      .filter_btn {
        background: transparent;
        border: none;
        color: $_white;
        font-family: $co_headline_bold;
        text-decoration: underline;
        font-size: 1.35rem;
        padding: 0 1rem;
        border-radius: 30px;
        line-height: 30px;
        text-transform: uppercase;

        @include media-down-sm {
          font-size: 1rem;
        }

        @include media(auto ,600px) {
          font-size: 0.8rem;
        }
        &:hover {
          background: rgba($_yellow, 10%);
        }
      }

      .button_container:nth-child(2) {
        .filter_btn.active_profession {
          background: $_yellow !important;

          .unFilter {
            background: $_yellow !important;
          }
        }
      }

      .button_container:nth-child(3) {
        .filter_btn.active_profession {
          background: $_green !important;

          .unFilter {
            background: $_green !important;
          }
        }
      }

      .button_container {
        position: relative;

        .unFilter {
          display: none;
        }

        .active_profession {
          background: $_meduim_yellow !important;
          color: $_white !important;
          border: 0.5px solid $_white;
          text-decoration: none;

          .unFilter {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            border: 0.5px solid $_white;
            border-radius: 50%;
            top: -15px;
            left: auto;
            right: 40%;
            padding: 0%;
            height: 25px;
            width: 25px;
            transform: scale(0.6);
            background: $_meduim_yellow !important;
          }
        }
      }
    }
  }
}

.testi_card {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 0.3fr 0.7fr;
  padding-inline: 6rem;
  align-items: center;
  grid-template-rows: 20rem;
  border-radius: 35px;

  @include media-down-md {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
    padding: 1rem;
  }

  @include media-down-sm {
    padding: 0.5rem;
  }

  .img_container {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;

    .img {
      border-radius: 50%;
      background: $_purple;
      width: 110px;
      height: 110px;
      position: relative;
      z-index: -1;
      transform: scale(1.5);

      @include media(auto, 1500px) {
        transform: scale(1.3);
      }

      @include media(auto, 1050px) {
        transform: scale(0.9);
      }

      @include media-down-md {
        width: 90px;
        height: 90px;
        transform: scale(0.9);
      }
      @include media(auto, 600px) {
        transform: scale(0.9);
        width: 70px;
        height: 70px;
      }
      @include media(auto ,376px) {
        transform: scale(0.9);
        width: 50px;
        height: 50px;

      }

      .img_border {
        border-radius: 50%;
        background: transparent;
        border: $_green 1px solid;
        position: absolute;
        width: 110px;
        height: 110px;
        top: -13px;
        left: 8px;
        z-index: -1;
      }

      .icon {
        position: absolute;
        top: 0px;
        left: 10px;
        @include media(auto, 600px) {
            width: 15px;
            height: 15px;
            left: 0px;
            top: -10px;

        }
      }

      .man_img {
        margin-inline-start: 0.2rem;
        margin-block-start: -0.8rem;
        border-radius: 50%;
        width: 115%;
        height: 115%;
      }

      .profession {
        background: $_purple;
        color: $_white;
        padding: 0.15rem 0.5rem;
        text-align: start;
        width: 130px;
        border-radius: 30px;
        font-family: $co_headline_bold;
        font-size: 1.1rem;
        position: absolute;
        bottom: -0.1px;
        right: 42%;
        z-index: -1;
        @include media-down-md{
          width: 110px;

        }
        @include media(auto ,600px) {
          font-size: 0.8rem;
          width: 80px;

        }
      }
    }
  }

  .body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    padding-inline: 2.5rem;

    @include media-down-md {
      gap: 0.2rem;
      min-height: 200px;
    }

    @include media-down-sm {
      height: 200px;
    }

    .testi {
      color: $_white;
      text-align: left;
      font-family: $co_headline_regular;
      font-size: 1rem;
      padding: 5px;
      @include media-down-sm {
        font-size: 0.8rem;
      }
      @include media(auto ,600px) {
        font-size: 0.6rem;
      }

    }

    .info {
      display: flex;
      flex-direction: column;
      @include media(auto ,376px) {

        

      }
      .name {
        font-family: $co_headline_bold;
        color: $_purple;
        @include media-down-sm {
          font-size: 1rem;
        }
        @include media(auto ,600px) {
          font-size: 0.8rem;

        }
        @include media(auto ,376px) {
          font-size: 0.6rem;

  
        }
      }

      .relate {
        color: $_white;
        font-family: $co_headline_light;

        @include media-down-sm {
          font-size: 1rem;
        }
        @include media(auto ,600px) {
          font-size: 0.7rem;

        }
        @include media(auto ,376px) {
          font-size: 0.5rem;

  
        }
      }
      .view_course_btn{
        position: relative;
        color: $_white;
        background-color: transparent;
        border-radius: 0.6rem;
        margin-top: 10px;
        padding-bottom: 7px;
        border:2px solid $_white;
        transition: all 0.3s;
        display: flex;
        align-items: center !important;
        justify-content: center;
        gap: 5px;
        overflow: hidden;
        z-index: 1000;
        @include media-down-sm {
          font-size: 0.8rem;
          width: 173px;
          margin-top: 3px;

        }
        @include media(auto ,600px) {
          font-size: 0.5rem;
          width: 123px;
          padding-bottom: 3px;
          border-radius: 5px;


        }
        @include media(auto ,376px) {
          // font-size: 0.1rem;
          white-space: nowrap;
          height: 20px;
          width: 112px;
          padding-bottom: 1px;

          border-radius: 5px;
        }
        &::after{
          content: "";
          position: absolute;
          transition: all 0.3s;
          background: $_white;
          z-index: -1;
        }
        &::before{
          content: "";
          position: absolute;
          transition: all 0.3s;
          background: $_white;
        }
        &:hover{
          color: $_dark_black;
        }
        .icon_btn{
            visibility: hidden !important;
            margin-top: 7px;
            @include media(auto ,600px) {
              margin-top: 2.3px;

    
            }

        }
        &:hover .icon_btn{
          visibility: visible !important;
        }

        

      }

      .view_course_btn1{
        &::after{
          height: 0;
          left: 50%;
          top: 50%;
          width: 0;
        }
        &:hover:after{
          height: 100%;
          left: 0;
          top: 0;
          width: 100%;
          // z-index: 1;
        }
      }

    }
  }
}


.slider{
  position: relative;
  .slider_btn{
    width:50px;
    height: 50px;
    padding-bottom: 53px;
    background-color: $_blue;
    color: $_white;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    border: none;
    outline: none;
    font-size: 1.875rem !important;
    z-index: 1000;
    transition: 0.5s;
    @include media-down-sm{
      width:30px;
      height: 30px ;
      padding-bottom: 2px;
      font-size: 1rem !important;

    }
  }
  .next_btn{
    position: absolute;
    top: 40%;
    right: 1%;
    @include media-down-sm{
      top: 45%;
      right: 0%;

    }
    &:hover{
      right: -2%;
      @include media-down-sm{
        right: -3%;
      }
    }
  }
  .prev_btn{
    position: absolute;
    top: 40%;
    left: 1%;
    @include media-down-sm{
      top: 45%;
      left: 0%;

    }
    &:hover{
      left: -2%;
      @include media-down-sm{
        left: -3%;
      }
    }
  }
}


