$_white: #fcfcfc;
$_dark_red: #c51e0b;
$_red: #f22e2e;
$_orange: #f26716;
$_green: #2bd988;
$_yellow: #f2e30c;
$_dark_yellow: #f2a20c;
$_purple: #220859;
$_dark_purple: #222a48;
$_blue: #52a8f2;
$_meduim_yellow: #e8bf20;
$_meduim_purple: #3e388e;
$_meduim_blue: #758bd8;
$_light_blue: #d8e1ff;
$_dark_black:#000000;
$_spical_text_color : #FAFAFA;
