@import "../styles/style";



.bg_container {
  background-image: url("../public/img/home-pattern.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 34rem;
}


