@import "../../../styles/style.scss";

body[dir="rtl"] {
  .bg {
    background-image: -webkit-linear-gradient(-132.5deg, #fff 50%, #f6f6ff 50%);

    .container {
      .title {
        h2 {
          letter-spacing: 0px;
        }
      }

      .see_all_icon {
        svg {
          transform: rotate(-90deg);
        }
      }
    }
  }
  .icon_btn{
    transform: rotate(180deg);

  }

}


.course_card_blue {
  .name {
    color: $_blue;
  }

  .tech_container {
    .tech {
      background: rgba($_blue, 20%);
    }
  }

  .level_age {
    .age {
      svg {
        fill: $_blue !important;
      }
    }

    .level {
      svg {
        fill: $_blue !important;
      }
    }
  }

  .button {
    background: $_blue;
  }
}

.course_card_orange {
  .name {
    color: $_orange;
  }

  .tech_container {
    .tech {
      background: rgba($_orange, 20%);
    }
  }

  .level_age {
    .age {
      svg {
        fill: $_orange !important;
      }
    }

    .level {
      svg {
        fill: $_orange !important;
      }
    }
  }

  .button {
    background: $_orange;
  }
}

.course_card_yellow {
  .name {
    color: $_yellow;
  }

  .tech_container {
    .tech {
      background: rgba($_yellow, 20%);
    }
  }

  .icon {
    transform: scale(0.75);

    &::after {
      bottom: -40px !important;
    }
  }

  .level_age {
    .age {
      svg {
        fill: $_yellow !important;
      }
    }

    .level {
      svg {
        fill: $_yellow !important;
      }
    }
  }

  .button {
    background: $_yellow;
  }
}

.course_card{
  background: $_white;
  box-shadow: 0px 0px 5px #00000029;
  border-radius: 20px;
  gap: 0.25rem;
  place-content: center;
  place-items: center;
  // padding:2.5rem 2.219rem;
  display: grid;
  grid-template-rows: 15% 5% auto 15% 10% 7.5%;
  @include media-down-sm{
    min-width: 350px;
    max-width: 360px;
    height: 35rem;
    max-height: 40rem;
    padding: 1rem 1rem;
  }
  @include media-down-xs{
    min-width: 250px;
    max-width: 270px;
    height: 25rem;
    max-height: 30rem;
    padding: 0.5rem 1rem;
  }



  .name {
  @include media-down-sm{
    font-size: 1.2rem;

  }

    @include media-down-xs{
      text-align: center;
      font-family: $co_headline_bold;
      font-size: 1rem;
    }
  }

  .tech_container {
    display: flex;
    gap: 10px;
    color: $_purple;
    @include media-down-sm{
      font-size: 0.9rem;
      
    }
    @include media-down-xs{
      font-size: 0.7rem;
    }

    .tech {
      font-family: $co_headline_regular;
      @include media-down-sm{
        padding: 0.30rem;
        
      }
      @include media-down-xs{
        padding: 0.25rem;
      }
    }
  }

  .icon {
      position: relative;
      @include media-down-sm{
        margin-bottom: 25px;
        
      }
      @include media-down-xs{
        margin-bottom: 30px;
      }

    img{
      @include media-down-sm{
        width: 8rem !important;
        height: 8rem !important;
      }
      @include media-down-xs{
        width: 5rem !important;
        height: 5rem !important;
      }
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0px;
      left: 0%;
      background: radial-gradient(closest-side at 50% 50%, #000000b5 0%, #00000000 100%);
      mix-blend-mode: multiply;
      width: 100%;
      height: 10px;
      filter: blur(10px);
    }
  }

  .description {
      font:normal normal normal 18px/24px Co Headline Corp;
      color: $_purple;
      text-align: center;

      @include media-down-xs{
        font-size: 0.75rem;

      }
  }

  .level_age {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    .age {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;

      span {
        font-size: 0.75rem;
      }

      svg {
        width: 20px;
        height: 20px;
      }
    }

    .level {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;

      span {
        font-size: 0.85rem;
      }

      svg {
        width: 20px;
        height: 20px;
      }
    }
  }

  .button {
    border-radius: 15px;
    border: none;
    color: $_white;
    margin-top: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.75rem;
    @include media-down-sm{
    padding: 0.25rem 0.25rem 0.25rem 0.25rem;
    width: 14rem;
    height: 3rem;
    }

    @include media-down-xs{
      width: 11rem;
      height: 2rem;

      gap: 10px;
      padding-bottom: 10px;
      transition: 0.3s;
    }
    .icon_btn{
      margin-top: 6px;
      visibility: hidden;
      transition: 0.3s;



    }


    &:hover {
      opacity: 0.9;
      gap: 15px;

    }
    &:hover .icon_btn{
      visibility: visible;
      transition: 0.5s;
    }

    &:active {
      transition: all 0s cubic-bezier(0.4, 0, 0.2, 1);
      transform: scale(0.98);
    }
  }
}


.bg {
  background-color: #fcfcfc;
  background-image: -webkit-linear-gradient(132.5deg, #f6f6ff 50%, #ffff 50%);

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1920px;
    margin: 0 auto;
    padding-block: 4rem;
    padding-inline: 10%;
    gap: 2.5rem;
    background-image: url("../../../public/img/home-pattern.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 180px -900px;

    @include media-down-md {
      background-image: url("../../../public/img/home-pattern.svg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center -190rem;
    }

    @include media-down-md {
      padding-inline: 2rem;
    }

    .filter {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content:center;
      gap: 10px;

      .active_all {
        color: $_white !important;
        background: $_blue !important;
        text-decoration: none !important;
      }

      .filter_btn {
        background: transparent;
        border: none;
        color: $_purple;
        font-family: $co_headline_bold;
        text-decoration: underline;
        font-size: 1.5rem;
        padding: 0 1rem;
        border-radius: 30px;

        @include media-down-xs {
          font-size: 1rem;
        }

        &:hover {
          background: rgba($_blue, 10%);
        }
      }

      .button_container:nth-child(2) {
        .filter_btn.active_range {
          background: $_blue !important;

          .unFilter {
            background: $_blue !important;
          }
        }
      }

      .button_container:nth-child(3) {
        .filter_btn.active_range {
          background: $_orange !important;

          .unFilter {
            background: $_orange !important;
          }
        }
      }

      .button_container:nth-child(4) {
        .filter_btn.active_range {
          background: $_yellow !important;

          .unFilter {
            background: $_yellow !important;
          }
        }
      }

      .button_container {
        position: relative;

        .unFilter {
          display: none;
        }

        .active_range {
          background: $_blue !important;
          color: $_white !important;
          text-decoration: none;

          .unFilter {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            border: 0.5px solid $_white;
            border-radius: 50%;
            top: -15px;
            left: auto;
            right: 35%;
            padding: 0%;
            height: 30px;
            width: 30px;
            transform: scale(0.75);

            @include media-down-md {
              transform: scale(0.4);
              right: 25%;
            }
          }
        }
      }
    }

    .title {
      display: flex;
      align-items: center;
      justify-content: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: $_dark_purple;

      h2 {
        font-family: $co_headline_bold;
        text-align: center;
        font-size: 3rem;
        text-transform: uppercase;
        letter-spacing: 5px;
        font-weight: bolder;

        @include media-down-md {
          font-size: 2rem;
        }

        @include media-down-sm {
          letter-spacing: 2.5px;
          font-size: 1.3rem;
        }
      }

      h4 {
        font-family: $co_headline_light;
        font-size: 1.5rem;
        text-align: center;

        @include media-down-sm {
          font-size: 1rem;
        }

        span {
          border-bottom: 3px solid $_yellow;

          @include media-down-sm {
            border-bottom: 1.5px solid $_yellow;
          }
        }
      }
    }


    .card_container {
      display: grid;
      grid-template-columns: repeat(3, auto);
      justify-content:center;
      align-items: center;
      gap: 3.125rem;
      


      @include media(auto, 1500px) {
        grid-template-columns: repeat(2, auto);
        gap: 1.25rem;
        max-width: 1500px;
      }

      // @include media-md {
      //   grid-template-columns: repeat(2, auto);
      //   width: 600px;
      // }

      // @include media-down-md {
      //   grid-template-columns: repeat(3, auto);
      // }

      @include media-down-sm {  
        grid-template-columns: repeat(1, auto);
      }

      @include media-down-xs {
        display: none;
      }



      .course_card_blue {
        .name {
          color: $_blue;
        }

        .tech_container {
          .tech {
            background: rgba($_blue, 20%);
          }
        }

        .level_age {
          .age {
            svg {
              fill: $_blue !important;
            }
          }

          .level {
            svg {
              fill: $_blue !important;
            }
          }
        }

        .button {
          background: $_blue;
        }
      }

      .course_card_orange {
        .name {
          color: $_orange;
        }

        .tech_container {
          .tech {
            background: rgba($_orange, 20%);
          }
        }

        .level_age {
          .age {
            svg {
              fill: $_orange !important;
            }
          }

          .level {
            svg {
              fill: $_orange !important;
            }
          }
        }

        .button {
          background: $_orange;
        }
      }

      .course_card_yellow {
        .name {
          color: $_yellow;
        }

        .tech_container {
          .tech {
            background: rgba($_yellow, 20%);
          }
        }

        .icon {
          transform: scale(0.75);

          &::after {
            bottom: -40px !important;
          }
        }

        .level_age {
          .age {
            svg {
              fill: $_yellow !important;
            }
          }

          .level {
            svg {
              fill: $_yellow !important;
            }
          }
        }

        .button {
          background: $_yellow;
        }
      }

      .course_card {
        background: $_white;
        box-shadow: 0px 5px 18px #00000029;
        border-radius: 20px;
        padding:2.5rem 2.219rem;
        display: grid;
        grid-template-rows: 15% 5% auto 15% 10% 7.5%;
        gap: 0.25rem;
        place-content: center;
        place-items: center;
        height: auto;
        width: auto;
        max-width: 380px;
        height: 600px;
        max-height: 650px;
        @include media-down-md {
          padding: 4rem 2rem;
          max-width: 300px;
        }

        .name {
          text-align: center;
          font-family: $co_headline_bold;
          font-size: 1.5rem;
        }

        .tech_container {
          display: flex;
          gap: 10px;
          color: $_purple;
          font-size: 0.7rem;

          .tech {
            padding: 0.25rem;
            font-family: $co_headline_regular;
          }
        }

        .icon {
          position: relative;

          &::after {
            content: "";
            position: absolute;
            bottom: 0px;
            left: 0%;
            background: radial-gradient(closest-side at 50% 50%, #000000b5 0%, #00000000 100%);
            mix-blend-mode: multiply;
            width: 100%;
            height: 10px;
            filter: blur(10px);
          }
        }

        .description {
          text-align: center;
          font:normal normal normal 18px/24px Co Headline Corp;
          color: $_purple;
        }

        .level_age {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 1rem;

          .age {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;

            span {
              font-size: 0.75rem;
            }

            svg {
              width: 20px;
              height: 20px;
            }
          }

          .level {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;

            span {
              font-size: 0.85rem;
            }

            svg {
              width: 20px;
              height: 20px;
            }
          }
        }

        .button {
          border-radius: 15px;
          border: none;
          color: $_white;
          padding: 0.8rem  3.8rem;
          margin-top: 1.3rem;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;
          transition: 0.3s;
          white-space: nowrap;
          .icon_btn{
            margin-top: 6px;
            visibility: hidden;
            transition: 0.3s;

          }


          &:hover {
            opacity: 0.9;
            gap: 15px;

          }
          &:hover .icon_btn{
            visibility: visible;
            transition: 0.5s;
          }

          &:active {
            transition: all 0s cubic-bezier(0.4, 0, 0.2, 1);
            transform: scale(0.98);
          }
        }
      }
      
    }

    .see_all {
      font-size: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
      gap: 10px;
      color: $_purple;
      text-transform: uppercase;
      font-family: $co_headline_regular;
      &:hover h5{
        font-weight: bold;
      }
      &:hover {
        font-family: $co_headline_bold;
        font-weight: bold;
        .see_all_icon {
          background: $_purple;
          svg {
            path {
              stroke: $_white !important;
            }
          }
        }
      }

      .see_all_icon {
        margin-top: -5px;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background 100ms ease-in;
        margin-bottom: 4px;

        svg {
          transform: rotate(90deg);
          width: 15px;
          height: 15px;

          path {
            stroke: $_purple !important;
          }
        }
      }
    }

    .kid_path {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1rem;

      p {
        font-family: $co_headline_regular;
        font-size: 1.6rem;
        text-align: center;
        color: $_purple;
        position: relative;

        @include media-down-sm {
          font-size: 1.3rem;
        }

        &::after {
          content: "?";
          font-size: 6rem;
          position: absolute;
          top: -40px;
          right: 10%;
          opacity: 0.2;
          color: $_green;
          font-family: $co_headline_bold;
          transform: rotate(8deg);

          @include media-down-sm {
            top: 9px;
            right: 4%;
            font-size: 7rem;
          }
        }

        &::before {
          content: "ØŸ";
          font-size: 6rem;
          position: absolute;
          top: -40px;
          left: 20%;
          opacity: 0.2;
          color: $_yellow;
          font-family: $co_headline_bold;
          transform: rotate(-8deg);

          @include media-down-sm {
            font-size: 9rem;
            top: -32px;
            left: 15%;
            transform: rotate(-29deg);
          }
        }
      }

      span {
        font-family: $co_headline_bold;
      }

      .kid_path_btn {
        border: none;
        background: $_green;
        color: $_white;
        box-shadow: inset 0px 3px 6px #00000029;
        border-radius: 3px;
        padding: 0.75rem 2.25rem;
        border-radius: 50px;
        font-size: 1.4rem;

        @include media-down-sm {
          width: 16.9rem;
          height: 2.6rem;
          padding: 0;
          font-size: 1rem;

        }
        &:hover {
          opacity: 0.9;
        }

        &:active {
          transition: all 0s cubic-bezier(0.4, 0, 0.2, 1);
          transform: scale(0.98);
        }
      }
    }
  }
}
